$font: "Gilroy";
$color-white: #fff;
$color-dark: #333;
$color-bg: #222429;
$color-bg-lighter: #2d3035;
$transition: all 0.24s ease-in-out;

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-SemiBold.ttf");
    font-weight: 500;
}

// @mixin mobile {
//     @media (max-width: 575px) {
//         @content;
//     }
// }

@mixin sm-tablet {
    @media (max-width: 650px) {
        @content;
    }
}

@mixin l-tablet {
    @media (max-width: 900px) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: 1020px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #222429;
}

body {
    font-size: 16px;
    font-family: $font;
    color: $color-dark;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}

a {
    text-decoration: none;
    color: unset;
}

.container {
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
}

.d-wrap {
    min-width: 375px;
    margin: 0 auto;
}

.d-main {
    min-height: calc(100vh - 39px);
    position: relative;
}

.outer-bg {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.img-cage {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.stop-scroll {
    overflow: hidden;
}

@media (min-width: 576px) {
    .container {
        // max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        // max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        // max-width: 960px;
    }
}

@media (min-width: 1220px) {
    .container {
        // max-width: 1240px;
    }
}

@media (max-width: 650px) {
    .container {
        padding: 0 15px;
    }
}

@import "scss/index/big-banner";
@import "scss/object-card/object-info";
@import "scss/object-card/premises-cards";
@import "scss/object-card/wide-map";
@import "scss/object-card/other-objects";
@import "scss/object-card/feedback-form";
@import "scss/about/about-block";
@import "scss/etalon/text-wrap";
@import "scss/contacts/contacts-info";
@import "scss/press/press-text";
@import "scss/press/body-cards";
@import "scss/press/logotypes-cards";
@import "scss/header";
@import "scss/popups";
@import "scss/footer";
@import "scss/custom-elements";
@import "scss/inner-page";
@import "scss/breadcrumbs";
@import "scss/big-breadcrumbs";
@import "scss/titles-meta";
@import "scss/btns";
@import "scss/margins";
@import "scss/page404";
