.select-custom {
    display: flex;
    flex-direction: column;
    gap: 5px;

    select {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    .select-head {
        background: #2a2d34;
        border-radius: 5px;
        padding: 18px 31.5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        cursor: pointer;

        .text {
            font-size: 14px;
            padding-right: 17px;

            span.lighter {
                opacity: 0.6;
            }

            span.upper-num {
                vertical-align: super;
                font-size: 8px;
            }
        }

        .arrow {
            width: 7px;
            position: relative;
            transition: $transition;

            &::after {
                position: absolute;
                content: "";
                background-image: url(../images/icon-arrow-select.svg);
                width: 7px;
                height: 4px;
                background-repeat: no-repeat;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }
        }
    }

    &.open {
        .select-head {
            .arrow {
                transform: rotate(180deg);
            }
        }
    }

    .select-body {
        background: #2a2d34;
        border-radius: 5px;
        padding: 31px;
        padding-right: 7px;
        display: none;

        .body-wrap {
            max-height: 209px;
            overflow: auto;
            padding-right: 24px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            &::-webkit-scrollbar {
                width: 1px;
                background: rgba($color: #fff, $alpha: 0.1);
            }

            &::-webkit-scrollbar-thumb {
                background: #fff;
            }
        }

        .body-item {
            font-size: 14px;
            transition: $transition;
            cursor: pointer;

            span.lighter {
                color: rgba($color: #fff, $alpha: 0.6);
            }

            span.upper-num {
                vertical-align: super;
                font-size: 8px;
            }

            &:hover {
                color: rgba($color: #fff, $alpha: 0.6);
            }
        }
    }

    &.open {
        .select-body {
            display: block;
        }
    }
}
