h2,
h3 {
    font-weight: 400;
}

h4,
h5 {
    font-weight: 500;
}

h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 30px;

    @include sm-tablet {
        font-size: 28px;
    }

    &.smaller {
        font-size: 22px;
        margin-bottom: 20px;
    }
}

h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 30px;
}

h4 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

h5 {
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 30px;
}

article {
    margin-bottom: 70px;
    margin-top: 70px;

    &:first-of-type {
        margin-top: 0;
    }
}
